---
import { CostPerUseCalculator } from "../components/calculator";
import "../styles/globals.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="min-h-screen flex items-center justify-center bg-gray-100">
      <CostPerUseCalculator client:load />
    </div>
  </body>
</html>
